$radio-size: 20px !default;
$checkbox-size: 20px !default;
$dot-size: 8px !default;
$border-color: #c0c0c0 !default;
$main-color: #3e97eb !default;
$disabled-color: lighten($border-color, 14%) !default;
$disabled-checked-color: lighten($main-color, 30%) !default;

.checkbox + label {
  &::before {
    border-radius: 3px;
  }
  &::after {
    top: 2px;
    left: 7px;
    width: 6px;
    height: 12px;
    border: 0 solid #fff;
    border-right-width: 2px;
    border-bottom-width: 2px;
    box-sizing: border-box;
    transform: rotate(45deg);
  }
}
.checkbox:checked + label {
  &::before {
    border: $main-color;
    background: $main-color;
  }
}
.checkbox:checked[disabled] + label {
  &::before {
    border: $disabled-checked-color;
    background: $disabled-checked-color;
  }
}

.arrow {
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 2px solid #fff;
  border-top-width: 0;
  border-left-width: 0;
  transform: rotate(45deg);
}

.job_list {
  width: 400px;
  padding: 20px;
  background-color: #607d8b;
}

.container {
  display: flex;
  padding: 3px;
}

.sub_container {
  display: flex;
  margin-left: 30px;
  padding: 3px;
}

.title {
  color: #d5dde2;
  font-size: large;
}

.btn_clear {
  float: right;
}

.left {
  flex: 8;
  color: #d5dde2;
}

.right {
  flex: 2;
  .span_total {
    float: right;
    color: #fff;
  }
}

.title_depart {
  padding: 0 5px;
  color: #fff;
  font-weight: 500;
}

.item {
  margin-left: 5px;
  color: #d5dde2;
  font-weight: 300;
}
